body, form {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  text-align: left;
  background-color: #fff;
}

a:link,a:active,a:visited {
  text-decoration: none !important;
  border-bottom: 1px solid #39c !important;
  color: #39c !important; 
}

a:hover {
  text-decoration: none; 
  border-bottom: 1px dashed #39c  !important;
  color: #39c !important;
}

p {
  text-indent: 30px;
}

input { 
  padding: 10px; 
  font-size: 24px; 
}

.button { /* via http://www.cssnewbie.com/cross-browser-rounded-buttons/ */
  display: inline-block;
  line-height: 1;
  padding: 7px 10px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #39c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

input.button, button.button {
  border: 0px none;
}

#tagline {
  margin-top: -20px;
  font-style: italic;
}

#input-url {
  padding: 10px 0 20px 0;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

footer {
  width: 100%;
  position: absolute;
  padding: 20px;
  bottom: 20px;
}

#slider {
  font-size: 62.5%;
}

#player {
  margin-top: 20px; 
}

.frameimg {
  top: 220px;
  position: absolute;
}

#frameimg1 {
  z-index: 50;
}

#frameimg2 {
  z-index: 900; 
}

#counter {
  width: 100%;
  position: absolute;
  padding: 20px;
  bottom: 50px; 
}