{% extends "layout.html" %}
{% block body %}

	<h2>API</h2>

	<h3>GET /api/explode</h3>
	<p>
		Takes in as an argument "image_url" an image url.  Returns a JSON formatted list of base64 encoded image frames.
	</p>
	
	<p>
		<a href="/api/explode?image_url=http://i.imgur.com/aXNfp.gif">Example</a>
	</p>
	
	<p>
		If you find yourself needing to use this service frequently, you probably
		 want to run the code on your server.
		You can find it on <a href="https://github.com/trg/GIF-Explode/blob/master/gifexplode.py">github</a>
	</p>

{% endblock %}
