{% extends "layout.html" %}
{% block body %}

	<div id="tagline">Slow-mo playback & manually navigate .gif(s)</div>

	<div id="input-url">
        
        <form id="main_form" action="/" method="post">
          <input type="url" 
              name="image_url" 
              placeholder="Enter .gif url here" 
              autofocus="autofocus" 
              size="30"

              {% if image_url %}
                value="{{image_url}}"
              {% endif %}/>

          <input type="submit" value="Inspect" />
        </form>
  </div>
	
	{% if frames %}
	
  <div id="player">

        <div id="counter">
          <span id="currentCount">1</span> / 
          <span id="totalCount">
            {% for frame in frames %}
              {{loop.length if loop.first}}
            {% endfor %}
          </span> 
        </div>

      <div id="frame">
        <div id="frameimg2" class="frameimg"></div>
        <div id="frameimg1" class="frameimg"></div>
      </div>

      <script>
        var photos = [ 
  			{% for frame in frames %}

            {
              "counter" : "{{loop.index }}",
              "image" : "{{ frame }}"
            }{{ ',' if not loop.last }}

        {% endfor %}
        ];
      </script>

  </div>

  {% endif %}

{% endblock %}