{% extends "layout.html" %}
{% block body %}

	<h2>Slow-mo playback, pause, or slideshow .gif(s)</h2>
  
	<div id="input-url">
        <p>Enter .gif url (e.g. <a href="/http://i.imgur.com/sPLRc.gif">http://i.imgur.com/sPLRc.gif</a>):</p>

        <form id="main_form" action="/" method="post">
          <input type="url" 
              name="image_url" 
              placeholder="url for .gif" 
              autofocus="autofocus" 
              size="50"

              {% if image_url %}
                value="{{image_url}}"
              {% endif %}/>

          <input type="submit" value="Inspect" />
        </form>
  </div>
	
	{% if frames %}
	
		<div id="playback">
      <div id="nav-elements">
        Play
        &larr;
        &rarr;
        <span id="counter">
          Frame <span id="currentCount"></span> / 
          <span id="totalCount"></span>
        </span>
      </div>

			{% for frame in frames %}
        <div class="frame">
				  <img src="data:image/gif;base64,{{ frame }}" />
        </div>
			{% endfor %}

    </div>

  {% endif %}

{% endblock %}