{% extends "layout.html" %}
{% block body %}
	<h2>Extract single frame images from animated gif image files!</h2>
	
	<section>
		<form id="main_form" action="/" method="post">
			Paste the URL of the image here: <br />  
			<input  type="url" 
					name="image_url" 
					placeholder="Image URL" 
					autofocus="autofocus" 
					{% if image_url %}
						value="{{image_url}}"
					{% endif %}/>
			<input type="submit" value="Fetch" />
		</form>
	</section>
	
	{% if frames %}
		<section>
			{% if image_url %}
				Original image:<br />
				<img src="{{ image_url }}" /> <br />
			{% endif %}
			<br />
			Image frames:<br />
			{% for frame in frames %}
				<img src="data:image/gif;base64,{{ frame }}" />
			{% endfor %}
		</section>
		
	{% else %}
		<div id="demo">
			Confused? <a id="demo_form_link" href="#">View the demo!</a>
			<form id="demo_form" action="/" method="post">
				<input type="hidden" name="image_url" value="http://i.imgur.com/aXNfp.gif">
			</form>
		</div>
	{% endif %}
{% endblock %}
