<!doctype html>
<html>
	<head>
		<title>Gif Explode - Online Gif Frame Viewer - Extract Frames from an Animated GIF Image</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="shortcut icon" href="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw%3D%3D" />
	</head>
	<body>
    <div id="wrapper" class="{% if frames %}frames{% endif %}">
			
			<header>
				<h1><a href="/">Gif Explode</a></h1>
			</header>
			
			{% block body %}{% endblock %}
			
			<footer>
				Written in <a href="http://flask.pocoo.org/">Flask</a>.  
				Hosted on <a href="http://heroku.com">Heroku</a>.  
				View the source on <a href="https://github.com/trg/GIF-Explode">Github</a>.
			</footer>
			
			<div id="links">
				Need more image tools?  Check out <a href="http://imgops.com/">ImgOps</a>.<br />
				Content prohibited by Heroku's <a href="http://policy.heroku.com/aup">Acceptable Use Policy</a> or applicable law is forbidden.<br />
				<a href="http://internetdefenseleague.org"><img style="width:150px;height:150px" src="http://internetdefenseleague.org/images/badges/final/shield_badge.png" alt="Member of The Internet Defense League" /></a>
			</div>
			
		</div>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26142178-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
        <script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'94d32865-7a2a-4df3-86eb-22c12a45aefa'});</script>

		<script type="text/javascript">
			window._idl = {};
			_idl.variant = "banner";
			(function() {
				var idl = document.createElement('script');
				idl.type = 'text/javascript';
				idl.async = true;
				idl.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'banner');
				document.getElementsByTagName('body')[0].appendChild(idl);
			})();
        </script>

        <!-- Start of Woopra Code -->
		<script type="text/javascript">
		function woopraReady(tracker) {
			tracker.setDomain('gif-explode.com');
			tracker.setIdleTimeout(60000);
			tracker.trackPageview({type:'pageview',url:window.location.pathname+window.location.search,title:document.title});
			return false;
		}
		(function() {
			var wsc = document.createElement('script');
			wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
			wsc.type = 'text/javascript';
			wsc.async = true;
			var ssc = document.getElementsByTagName('script')[0];
			ssc.parentNode.insertBefore(wsc, ssc);
		})();
		</script>
		<!-- End of Woopra Code -->
		
	</body>
</html>
