<!doctype html>
<html>
	<head>
		<title>Gif Explode - Extract Frames from an Animated GIF Image</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="shortcut icon" href="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw%3D%3D" />
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1><a href="/">Gif Explode</a></h1>
			</header>
			
			{% block body %}{% endblock %}
			
			<footer>
				Written in <a href="http://flask.pocoo.org/">Flask</a>.  
				Hosted on <a href="http://heroku.com">Heroku</a>.  
				View the source on <a href="https://github.com/trg/GIF-Explode">Github</a>.
				Developer? Check out the <a href="/api">API</a>.
			</footer>
			
		</div>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26142178-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
	</body>
</html>